<?xml version='1.0' encoding='utf-8'?>
<widget id="com.thenextphase.zoll" version="2.2.1" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>zNews Alerts</name>
    <description>
         zNews Alerts 
    </description>
    <author email="gph@thenextphase.com" href="https://www.medintellibase.com">
          MedIntelliBase
    </author>
    <content src="index.html" />
    <feature name="StatusBar">
        <param name="ios-package" onload="true" value="CDVStatusBar" />
    </feature>
    <preference name="SplashMaintainAspectRatio"  value="true" />
	<preference name="phonegap-version" value="cli-8.0.0" />
    <preference name="orientation" value="portrait" />
    <preference name="target-device" value="universal" />
    <preference name="fullscreen" value="false" />
    <preference name="webviewbounce" value="false" />
    <preference name="prerendered-icon" value="true" />
    <preference name="stay-in-webview" value="true" />
    <preference name="StatusBarBackgroundColor" value="#000000" />
    <preference name="detect-data-types" value="true" />
    <preference name="StatusBarOverlaysWebView" value="true" />
    <preference name="exit-on-suspend" value="false" />
    <preference name="show-splash-screen-spinner" value="true" />
    <preference name="auto-hide-splash-screen" value="true" />
    <preference name="disable-cursor" value="false" />
    <preference name="android-minSdkVersion" value="16" />
    <preference name="android-installLocation" value="auto" />
    <plugin name="cordova-plugin-console" />
    <plugin name="cordova-plugin-device" version="1.1.6" />
    <plugin name="cordova-plugin-dialogs" />
    <plugin name="cordova-plugin-file" />
    <plugin name="cordova-plugin-file-transfer" />
    <plugin name="cordova-plugin-inappbrowser" />
    <plugin name="cordova-plugin-network-information" />
    <plugin name="cordova-plugin-splashscreen" />
    <plugin name="cordova-plugin-whitelist" />
    <plugin name="cordova-push-notifications" />
    <plugin name="cordova-plugin-statusbar" />
    <icon src="icon.png" />
    <platform name="android">
		<splash src="res/screen/android/drawable/splash.9.png" />
    </platform>
	<!-- IOS Versions 7+ --> 
<!-- iPhone 6 / 6+ -->
    <platform name="ios">
        <icon src="res/icon/ios/icon-60@3x.png" gap:platform="ios" width="180" height="180" />
        <icon src="res/icon/ios/rsz-itunesartwork2x.png" gap:platform="ios" width="57" height="57" />
        <!--icon src="res/icon/ios/rsz-1itunesartwork2x.png" gap:platform="ios" width="152" height="152" /-->

        <!-- iPhone / iPod Touch  -->
        <icon src="res/icon/ios/icon-60.png" gap:platform="ios" width="60" height="60" />
        <icon src="res/icon/ios/icon-60@2x.png" gap:platform="ios" width="120" height="120" />
		<icon src="res/icon/ios/icon-60@3x.png" gap:platform="ios" width="180" height="180" />

        <!-- iPad -->
        <icon src="res/icon/ios/icon-76.png" gap:platform="ios" width="76" height="76" />
        <icon src="res/icon/ios/icon-76@2x.png" gap:platform="ios" width="152" height="152" />

        <!-- Settings Icon -->
        <icon src="res/icon/ios/icon-small.png" gap:platform="ios" width="29" height="29" />
        <icon src="res/icon/ios/icon-small@2x.png" gap:platform="ios" width="58" height="58" />

        <!-- Spotlight Icon -->
        <icon src="res/icon/ios/icon-40.png" gap:platform="ios" width="40" height="40" />
        <icon src="res/icon/ios/icon-40@2x.png" gap:platform="ios" width="80" height="80" />

        <!-- Older IOS Versions -->
        <!-- iPhone / iPod Touch -->
        <icon src="res/icon/ios/icon.png" gap:platform="ios" width="57" height="57" />
        <icon src="res/icon/ios/icon@2x.png" gap:platform="ios" width="114" height="114" />

        <!-- iPad -->
        <icon src="res/icon/ios/icon-72.png" gap:platform="ios" width="72" height="72" />
        <icon src="res/icon/ios/icon-72@2x.png" gap:platform="ios" width="144" height="144" />

        <!-- iPhone Spotlight and Settings Icon -->
        <icon src="res/icon/ios/icon-small.png" gap:platform="ios" width="29" height="29" />
        <icon src="res/icon/ios/icon-small@2x.png" gap:platform="ios" width="58" height="58" />

        <!-- iPad Spotlight and Settings Icon -->
        <icon src="res/icon/ios/icon-50.png" gap:platform="ios" width="50" height="50" />
        <icon src="res/icon/ios/icon-50@2x.png" gap:platform="ios" width="100" height="100" />
    </platform>
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
</widget>
